*.json
*.txt
*.html
*.zip
*.pyc
archive
transcripts*
html*
xper*
.idea

commonfunctions/mysecrets.py
.DS_Store
processing/json-demrep.csv
processing/json-winnerloser.csv
split-for-trump.py
worldcities.csv
